
*{
    margin: 5px;
    padding: 0px;
}
h3{
    text-align: center;
    font-size: 25px;
}

/* flex: row */
.div1{
    height: 35vh;
    width: 95vw;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;

    display: flex;
    /* By default left to right set. and row */
}

#Con1{
    flex-wrap: nowrap;
}

#Con2{
    flex-wrap: wrap;
}

#Con3{
    flex-wrap: wrap-reverse;
}


.Container1{
    height: 30%;
    width: 30%;
    border-radius: 10px;
}
p{
    position: relative;
    top: 35%;
    font-weight: bold;
}
#box1{
    background-color: chocolate;
}
#box2{
    background-color: aqua;
}
#box3{
    background-color: rgb(248, 93, 196);
}
#box4{
    background-color: rgb(37, 231, 12);
}
#box5{
    background-color: rgb(28, 63, 218);
}
img{
    height: 25vh;
    width: 95vw;
}