/*
-> What is Syntax: Structure of word in a sentence. Rules of language. for programming exact syntax must be followed.

->What is JavaScript

-JavaScript has nothing to do with java.
-Action: Enables interactively.
-Update: Alters page without reloading.
-Event: Responds to user actions.
-Data: Fetches and sends info to server.