
*{
    margin: 0px;
    padding: 0px;
}

.box{
    height: 10vh;
    width: 20vw;
    margin: 25px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: cyan;

    
}
.box:hover{
    transition-duration: 2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;

}

#box1:hover{
    background-color: blueviolet;
    transform: skew(45deg);
}
#box2:hover{
    background-color: rgb(226, 43, 128);
    transform: skew(180deg);
}
#box3:hover{
    background-color: rgb(43, 226, 83);
    transform: skewx(45deg);
}
#box4:hover{
    background-color: rgb(226, 110, 43);
    transform: skewy(45deg);
    
}