/*
Usage: Control the horizontal alignment of text within an element.

Values: Can take values like left, right, center and justify.

Visual Appeal: Enhances readability and visual appeal by organizing text neatly.
*/

.box{
    width: 100px;
    height: 75px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#div1{
    background-color: aquamarine;
    text-align: center;
}

#div2{
    background-color: tomato;
    text-align: right;
}

#div3{
    background-color: cornflowerblue;
    text-align: left;
}
