/*
Core Concept: Outline the design and layout of element on the web page.

Components: margin, border, padding and content

Margin: The space outside the border separating the element from others.

Border: The outline that encapsulates the padding and content.

Padding: The space between the border and the actual content, providing a buffer.

Content: The innermost layer where text, images, or other media are housed. here include height and weight.

*/