/*
Usage: Control space above and below inline element.

Readability: Improve readability by preventing overcrowding.

Vertical Spacing: Useful for controlling vertical spacing between lines of text.
*/

.box{
    font-size: 25px;
}
#div1{
    background-color: aquamarine;
    line-height: 15px;
}

#div2{
    background-color: tomato;
    line-height: 45px;
}

#div3{
    background-color: cornflowerblue;
    line-height: 55px;
}
