/*
RGBA: RGB's extension, includes alpha for opacity control(0-1 range)

Transparency Control: Facilitates the adjustment of transparency levels in colors.

Range: 0-1

Visual Effects: Enables the creation of visual effects like shadows and overlays.

Layering: Assists in layering elements with varying degrees of visibility.

Syntax:
0.0 -> rgba(255,0,0,0.0) = fully transparent
1.0 -> rgba(255,0,0,1.0) = fully opaque
*/

h1{
    color: rgba(255,0,0,0.0);
}
#h1{
    color: rgba(255,0,0,0.1);
}

#h2{
    color: rgba(255,0,0,0.2);
}

#h3{
    color: rgba(255,0,0,0.3);
}
#h4{
    color: rgba(255,0,0,0.4);
}
#h5{
    color: rgba(255,0,0,0.5);
}

#h6{
    color: rgba(255,0,0,0.6);
}

#h7{
    color: rgba(255,0,0,0.7);
}
#h8{
    color: rgba(255,0,0,0.8);
}
#h9{
    color: rgba(255,0,0,0.9);
}
#h10{
    color: rgba(255,0,0,1.0);
}