/*
Usage: Modifies the appearance of inline text.

Values: Options include none, underline, overline and line-through.

Hyperlinks: Commonly used to remove underline from hyperlinks for aesthetic purposes.

Text-Decoration-color use for decoration color

*/

.box{
    width: 80px;
    height: 45px;
    font-size: 25px;
}
#div1{
    background-color: aquamarine;
    text-decoration: underline;
    text-decoration-color: brown;
}

#div2{
    background-color: tomato;
    text-decoration: overline;
}

#div3{
    background-color: cornflowerblue;
    text-decoration: line-through;
    text-decoration-color: chocolate;
}
#a1{
    text-decoration: none;
    /* use to remove line under link. */
}
