/*
Go to Google font and 1st link with google font.

Inserting the icon:
class is not change you change name of icon.
and you would like to add id.

icon size change in html. and css.

*/

.material-symbols-outlined{
    color: brown;
}
#zoomout{
    color: blue;
    font-size: 45px;
}